## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
5+4 * 9% (3+1) / 6 - 1

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [42]:
odd_even = int(input("Enter a number: "))
res = odd_even % 2 
if res > 0 :
    print('odd')
else:
    print('even')

Enter a number: 9
odd

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [47]:
mult = int(input("Enter a number: "))
print('Multiplication Table of', mult)
for i in range(1,11):
    print(mult,'X',i ,'=', mult * i)

Enter a number: 8
Multiplication Table of 8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [188]:
n1 = []
for i in range(2000,3201):
    if(i%7==0) and (i%5!=0):
        n1.append(str(i))
print([','.join(n1)])

['2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199']

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [14]:
l5 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [16]:
import pandas as pd

In [22]:
ser5 = pd.Series(l5)
df5 = pd.DataFrame(ser5)

In [33]:
df5.isnull().count

<bound method DataFrame.count of         0
0   False
1   False
2   False
3   False
4   False
5   False
6   False
7   False
8   False
9   False
10   True
11  False>

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [52]:
l6 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
sum6 = 0
for i in l6:
    if(type(i) == int):
        sum6 = sum6 + int(i)
print('Addition of all numeric datatypes =' , sum6)

Addition of all numeric datatypes = 16

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [72]:
l7 =  [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
con7 = []
for i in l7:
    if(type(i) == str):
        con7.append(str(i))
print('-'.join(con7))

Py-10-SQL-John

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [19]:
l8 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
def my_func(l):
    sum8 = 0
    count8 = 0
    for i in l:
        if(type(i) == int) or (type(i) == float):
            sum8 = sum8 + int(i)
        elif (type(i) == str):
            count8 = count8 + 1
    return['{Sum :', sum8 ,', Count_of_Strs :', count8 ,'}']

In [20]:
my_func(l8)

['{Sum :', 21, ', Count_of_Strs :', 4, '}']

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [292]:
#i. Use loops to get the answer

l9 = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

l9_n = []
for i in l9:
    if(i%2!=0):
        l9_n.append(i)
print(l9_n)

#i. Use loops to get the answer (UDF)

def odd_function(l):
    odds = []
    for i in l:
        if(i%2!=0):
            odds.append(i)
    return(odds)


#iii. Use lambda function with filter

lam = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

lam_fil = list(filter(lambda i:i%2!=0 , lam))

print(lam_fil)

[5, 7, 97, 77, 23, 73, 61]
[5, 7, 97, 77, 23, 73, 61]

In [7]:
 # ii. Use list comprehensions

l_o = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
odd_list_comp = [i for i in l_o if(i%2!=0)]
print(odd_list_comp)

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input numbers.

In [1]:
def descriptives(d):
    sum10 = 0
    count10 = 0
    min10 = 0
    max10 = 0
    mean10 = 0
    for i in d:
        sum10 = sum10 + i
        count10 = count10 + 1
        if(i==min(d)):
            min10 = i
        if(i==max(d)):
            max10 = i
        mean10 = sum10/len(d)
    return('Sum :', sum10, 'Count :', count10, 'Min :', min10, 'Max :', max10, 'Mean:', mean10)

In [4]:
descriptives(range(0,9))

('Sum :', 36, 'Count :', 9, 'Min :', 0, 'Max :', 8, 'Mean:', 4.0)

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [5]:
# Area of Square

def calc_area(shape):
    
    if(shape == 'square'):
        s = int(input('Enter side of sqaure ', ))
        area_sq = s*s
        return(area_sq)
    
    elif(shape == 'rectangle'):
        l = int(input('Enter length of rectangle ',))
        b=  int(input('Enter width of rectangle ',))
        area_rect = l*b
        return(area_rect)
    
    elif(shape == 'circle'):
        pi = 3.141
        r = int(input('Enter radius of circle ',))
        area_cir = pi * r**2
        return(area_cir)
    
    else:
        print('please enter the valid shape')

In [6]:
calc_area('circle')

Enter radius of circle 8

201.024

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [ ]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

def reconcile(l1,l2):
    only_in_l1 = []
    only_in_l2 = []
    Matched = list(set(l1) & set(l2))
    for i in l1:
        if(i not in l2):
            only_in_l1.append(i)
    for i in l2:
        if(i not in l1):
            only_in_l2.append(i)
    return '{Matched :', Matched, 'Only in l1 :', only_in_l1, 'Only in l2 :', only_in_l2,'}'

In [ ]:
reconcile(l1,l2)

Q13: write a UDF to check if a number is prime or not.

In [173]:
def prime(n):
    if(n>2):
        for i in range(1,n):
            if(n%i == 0):
                return(True)
        else:
            return(False)
    return(True)

In [178]:
prime(5)

True

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [8]:
f = int(input('Enter the factorial :'))
fact = 1
if(f < 0):
    print('Sorry, factorial does not exist for negative numbers')
elif(f == 0):
    print('factorial of zero is 1')
else:
    for i in range(1,f+1):
        fact = fact * i
    print(fact)

Enter the factorial :9
362880

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [4]:
n15 = int(input('enter a number'))
dicts = {i:i*i for i in range(1,n15 + 1)}
print(dicts)

enter a number7
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [6]:
comma_sep = input('enter the comma seperated values')
l16 = comma_sep.split(',')
t16 = tuple(l16)
print('list :', l16,
     'tuple :', t16)

enter the comma seperated values1,4,6
list : ['1', '4', '6'] tuple : ('1', '4', '6')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
comma_sep_words = input('Enter comma seperated sequence of words :').split(',')
alpha_words = alpha_words.sort()
print(','.join(alpha_words))

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [ ]:
whitespace = input('Enter the sequence of whitespace separated words :').split(' ')
dup = set(whitespace)
print(' '.join(sorted(dup)))

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [6]:
upploww = input('Enter your sentence :')
up = 0
lo = 0
for i in upploww:
    if(i.islower()):
        lo = lo + 1
    elif(i.isupper()):
        up = up + 1
print('Upper :', up,
     'Lower :', lo)

Enter your sentence :My name is Yash
Upper : 2 Lower : 10

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [4]:
rev_str = input('Enter your string :')
length = len(rev_str)
slicedstr = rev_str[length:: -1]
print(slicedstr)

Enter your string :-123213
312321-

In [5]:
type(rev_str)

str