In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
import re

# set the graphs to show in the jupyter notebook
%matplotlib inline

# set seabor graphs to a better style
sns.set(style="ticks")

In [3]:
cc_data = pd.read_excel('D:\python\credit_card_consumption_CS\CreditConsumptionData.xlsx')

In [4]:
cust_beh = pd.read_excel('D:\python\credit_card_consumption_CS\CustomerBehaviorData.xlsx')

In [5]:
cust_demo = pd.read_excel('D:/python/credit_card_consumption_CS/CustomerDemographics.xlsx')

In [6]:
cust_beh.shape

(20000, 39)

In [7]:
c_2 = pd.merge(left=cust_beh , right=cust_demo , how='left' , right_on='ID' , left_on='ID')

In [8]:
cc_bD = pd.merge(left=c_2 , right=cc_data , how='left' , right_on='ID' , left_on='ID')

In [9]:
cc_bD.shape

(20000, 49)

# PRE MODELING

In [10]:
cc_bD.head()

,ID,cc_cons_apr,dc_cons_apr,cc_cons_may,dc_cons_may,cc_cons_jun,dc_cons_jun,cc_count_apr,cc_count_may,cc_count_jun,...,account_type,gender,age,Income,Emp_Tenure_Years,Tenure_with_Bank,region_code,NetBanking_Flag,Avg_days_between_transaction,cc_cons
0,17051,3412.60,2909.34,1077.36,3084.50,4615.97,6693.0,19.0,10,2,...,current,M,30,MEDIUM,7.0,5,956.0,1,20.0,13434.0
1,11491,18133.76,3877.00,6123.78,5597.43,64620.00,6117.0,4.0,60,1,...,current,M,37,LOW,10.2,8,966.0,1,5.0,449.0
2,7433,6363.65,735.49,8799.00,13768.00,38266.00,2638.0,2.0,83,47,...,current,M,33,MEDIUM,3.9,3,505.0,1,15.0,11968.0
3,14606,12765.66,4429.16,16745.86,6360.00,29063.97,3711.0,12.0,2,16,...,current,M,63,LOW,25.8,6,631.0,0,15.0,32029.0
4,8381,27819.70,1944.00,7006.50,2228.50,1096.25,1065.0,15.0,13,61,...,saving,M,33,MEDIUM,6.5,7,698.0,0,9.0,16394.0

In [11]:
cc_bD.duplicated().sum()

0

In [12]:
cc_bD.ID.duplicated().sum()

0

In [13]:
cc_bD.account_type.value_counts()

current    16925
saving      3074
Name: account_type, dtype: int64

In [14]:
cc_bD.head()

,ID,cc_cons_apr,dc_cons_apr,cc_cons_may,dc_cons_may,cc_cons_jun,dc_cons_jun,cc_count_apr,cc_count_may,cc_count_jun,...,account_type,gender,age,Income,Emp_Tenure_Years,Tenure_with_Bank,region_code,NetBanking_Flag,Avg_days_between_transaction,cc_cons
0,17051,3412.60,2909.34,1077.36,3084.50,4615.97,6693.0,19.0,10,2,...,current,M,30,MEDIUM,7.0,5,956.0,1,20.0,13434.0
1,11491,18133.76,3877.00,6123.78,5597.43,64620.00,6117.0,4.0,60,1,...,current,M,37,LOW,10.2,8,966.0,1,5.0,449.0
2,7433,6363.65,735.49,8799.00,13768.00,38266.00,2638.0,2.0,83,47,...,current,M,33,MEDIUM,3.9,3,505.0,1,15.0,11968.0
3,14606,12765.66,4429.16,16745.86,6360.00,29063.97,3711.0,12.0,2,16,...,current,M,63,LOW,25.8,6,631.0,0,15.0,32029.0
4,8381,27819.70,1944.00,7006.50,2228.50,1096.25,1065.0,15.0,13,61,...,saving,M,33,MEDIUM,6.5,7,698.0,0,9.0,16394.0

In [23]:
cc_bD.dtypes

ID                                int64
cc_cons_apr                     float64
dc_cons_apr                     float64
cc_cons_may                     float64
dc_cons_may                     float64
cc_cons_jun                     float64
dc_cons_jun                     float64
cc_count_apr                    float64
cc_count_may                      int64
cc_count_jun                      int64
dc_count_apr                      int64
dc_count_may                      int64
dc_count_jun                      int64
card_lim                          int64
personal_loan_active             object
vehicle_loan_active              object
personal_loan_closed             object
vehicle_loan_closed              object
investment_1                    float64
investment_2                    float64
investment_3                    float64
investment_4                    float64
debit_amount_apr                float64
credit_amount_apr               float64
debit_count_apr                 float64
credit_count_apr                  int64
max_credit_amount_apr           float64
debit_amount_may                float64
credit_amount_may               float64
credit_count_may                  int64
debit_count_may                   int64
max_credit_amount_may           float64
debit_amount_jun                float64
credit_amount_jun               float64
credit_count_jun                  int64
debit_count_jun                   int64
max_credit_amount_jun           float64
loan_enq                         object
emi_active                      float64
account_type                     object
gender                           object
age                               int64
Income                           object
Emp_Tenure_Years                float64
Tenure_with_Bank                  int64
region_code                     float64
NetBanking_Flag                  object
Avg_days_between_transaction    float64
cc_cons                         float64
dtype: object

# MODELING

### Data Preparation Level I

##### Type Casting

In [16]:
cc_bD.personal_loan_active = cc_bD.personal_loan_active.astype('object')

In [17]:
cc_bD.personal_loan_closed = cc_bD.personal_loan_closed.astype('object')

In [18]:
cc_bD.vehicle_loan_active = cc_bD.vehicle_loan_active.astype('object')

In [19]:
cc_bD.vehicle_loan_closed = cc_bD.vehicle_loan_closed.astype('object')

In [22]:
cc_bD.NetBanking_Flag = cc_bD.NetBanking_Flag.astype('object')

##### Pandas Profiling

In [ ]:
# ! pip install pandas_profiling

In [ ]:
cc_bD.NetBanking_Flag = cc_bD.NetBanking_Flag.astype('object')

In [ ]:
import pandas_profiling

In [ ]:
profile_report = pandas_profiling.ProfileReport(cc_bD)

In [ ]:
profile_report.to_file('profile_report.html')

##### Missing Value Treatment

- Y variable

In [25]:
cc_bD.cc_cons.isna().sum()

5000